{% extends 'base.html' %}
<head>
{% block head %}
 {{super()}}
  <script>
      function validate(){
  
                var usr=document.getElementById("usr1");
                var pwd=document.getElementById("pwd1");
                if(usr.value=="admin"&&pwd.value=="admin")
                 {
                    return true;
                 }
                else
                  {
                     window.alert("enter login details");
                       return false;
                  }
  }

 </script>
{% endblock %}
</head>
<body>
{% block body %}
<div class="container" >
  <h2>Admin page</h2>
  <form action="/checkadmin" onsubmit=" return validate()" method="post">
    <div class="form-group">
      <label for="uid">User Name:</label>
      <input type="text" class="form-control" id="usr1" placeholder="Enter Username" name="usr">
    </div>
    
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" width="30px" id="pwd1" placeholder="Enter password" name="pwd">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <div><p name="comment">{{the_comment}}</p></div>
  </form>
</div>
{% endblock %}
</body>


