{% extends 'base.html' %}
<head>
  {% block head %}
     {{ super()}}
    <script>
        function validate(){
                 if(document.getElementById("usr").value == "" || document.getElementById("email").value == ""){
			window.alert("Enter Email...!! or Enter Username..!");
			return false;
		}
          
                 var temp=document.getElementById("phone").value;
                 var lth=temp.length;
                 
                  if(lth>0&&lth<11)
                   {
                     return true;
                   }
                  else
                   {
                      window.alert("Enter valid phone number");
                       return false;
                    }
                
             }
      </script>
                
{% endblock %}
</head>
<body>
{% block body %}
<div  class="container" >
<h2>welcome</h2>
<p>get started by filling the details and get the best product for your house!!</p>
<form action="/onclick_welcome" onsubmit="return validate()" method="post">
 <div class="form-group">
<label for="uid">User Name:</label>
      <input type="text" class="form-control" id="usr" placeholder="Enter Username" name="usr">
    </div>
    <div class="form-group">
      <label for="phone">phone number:</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter phonenumber" name="phone">
    </div>
     <div class="form-group">
      <label for="addr">address:</label>
      <input type="text" class="form-control" id="addr" placeholder="Enter address" name="addr">
    </div>
    <div class="form-group">
      <label for="city">city:</label>
      <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
    </div>
    <div class="form-group">
      <label for="state">state:</label>
      <input type="text" class="form-control" id="state" placeholder="Enter city" name="state">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <button type="submit" class="class="btn btn-primary"">go on</button>
   <p>{{the_comment}}</p>
</form>
</div>
{% endblock %}
</body>
